@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

html {
  scroll-behavior: smooth;
  font-size: 0.90rem;
}

@media (min-width: 768px) {
  html {
    font-size: 0.95rem;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 1rem;
  }
}

body {
  @apply bg-background text-secondary font-sans;
  font-size: 1rem;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-gray-400;
}

/* Custom animations */
@keyframes slideInFromLeft {
  from {
    @apply translate-x-[-100%] opacity-0;
  }
  to {
    @apply translate-x-0 opacity-100;
  }
}

@keyframes slideInFromRight {
  from {
    @apply translate-x-[100%] opacity-0;
  }
  to {
    @apply translate-x-0 opacity-100;
  }
}

.slide-in-left {
  animation: slideInFromLeft 0.3s ease-out;
}

.slide-in-right {
  animation: slideInFromRight 0.3s ease-out;
}
